/* Player parent DIV  */
.play-parent {
	width:100%;  /* width depends on your layout and needs  */
	position:relative;
	overflow:hidden;
}
/* Semi-transparent DIV element to cover entire player */
.div-over {
	background:rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index:99;
	display:none;
	overflow:hidden;
}
/* Centered DIV element for our banner ad */
.overlay {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	display:inline-block;
}
/* Close button */
.over-close {
	width: 100px;
	height: 100px;
	position: absolute;
	top:10px;
	right:10px;
	line-height:90px;
	text-align:center;
	font-size:70px;
	font-family: sans-serif;
	background:#fff;
	cursor:pointer;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
}
.over-close:after {
	content: '';
	height: 70px;
	border-left: 2px solid #222;
	position: absolute;
	transform: rotate(45deg);
	left: 48px;
	top:15px;
}
.over-close:before {
	content: '';
	height: 70px;
	border-left: 2px solid #222;
	position: absolute;
	transform: rotate(-45deg);
	left: 48px;
	top:15px;
}
.div-over .no-click {
	pointer-events:none;
}
.div-over .no-click:before, .div-over .no-click:after {
	border-width:0;
}